<div class="container-fluid">
  <app-page-title title="Activité/Chronologie" [breadcrumbItems]="breadCrumbItems"></app-page-title>

  <div class="row mt-5">
    <div class="col-12">
      <h5 class="text-center mb-5">Historique</h5>
      <div class="timeline" dir="ltr">

        <article class="timeline-item">
          <h2 class="m-0 d-none">&nbsp;</h2>
          <div class="time-show mt-0">
            <a href="javascript: void(0)" class="btn btn-primary width-lg">Aujourd'hui</a>
          </div>
        </article>


        <article class="timeline-item timeline-item-left">
          <div class="timeline-desk">
            <div class="timeline-box clearfix">
              <span class="timeline-icon"></span>
              <div class="event-date float-right text-center ml-4">
                <div class=" avatar-sm rounded-circle bg-soft-primary">
                  <span class="font-size-16 avatar-title text-primary font-weight-semibold">
                    02
                  </span>
                </div>
                <p class="mt-2">Juin</p>
              </div>
              <div class="overflow-hidden">
                <div class="card">
                  <div class="card-body">
                    <h5 class="mt-0">Premier Action</h5>
                    <p class="text-muted">At solmen va esser necessi far uniform grammatica, pronunciation e plu sommun
                      paroles. Ma quande lingues coalesce li del resultant.</p>
                    <p class="text-muted">Ce sera aussi simple qu'en fait, ce sera occidental.</p>
                    <div>
                      <a href="javascript: void(0)" class="btn btn-primary btn-sm">Savoir Plus</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>

        <article class="timeline-item">
          <div class="timeline-desk">
            <div class="timeline-box clearfix">
              <span class="timeline-icon"></span>
              <div class="event-date float-left text-center mr-4">
                <div class=" avatar-sm rounded-circle bg-soft-primary">
                  <span class="font-size-16 avatar-title text-primary font-weight-semibold">
                    03
                  </span>
                </div>
                <p class="mt-2">Juin</p>
              </div>
              <div class="overflow-hidden">
                <div class="card">
                  <div class="card-body">
                    <h5 class="mt-0">Deuxième Action</h5>
                    <p class="text-muted">Si plusieurs langues fusionnent, la grammaire de la langue résultante est plus
                      simple et régulier que celui des langues individuelles</p>
                    <ul class="text-muted mb-0">
                      <li class="py-1">Sed ut perspiciatis unde</li>
                      <li class="py-1">Nemo enim ipsam</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>

        <article class="timeline-item timeline-item-left">
          <div class="timeline-desk">
            <div class="timeline-box clearfix">
              <span class="timeline-icon"></span>
              <div class="event-date float-right text-center ml-4">
                <div class=" avatar-sm rounded-circle bg-soft-primary">
                  <span class="font-size-16 avatar-title text-primary font-weight-semibold">
                    04
                  </span>
                </div>
                <p class="mt-2">Juin</p>
              </div>
              <div class="overflow-hidden">
                <div class="card">
                  <div class="card-body">
                    <h5 class="mt-0">Troisième Action</h5>
                    <p class="text-muted mb-4">Chacun comprend pourquoi un nouveau langage commun serait souhaitable : on pourrait
                      refuser de payer des traducteurs coûteux.</p>
                    <div class="timeline-album">
                      <a href="javascript: void(0)" class="mr-1">
                        <img alt="" src="assets/images/small/img-1.jpg">
                      </a>
                      <a href="javascript: void(0)" class="mr-1">
                        <img alt="" src="assets/images/small/img-2.jpg">
                      </a>
                      <a href="javascript: void(0)" class="mr-1">
                        <img alt="" src="assets/images/small/img-3.jpg">
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </article>

        <article class="timeline-item">
          <div class="timeline-desk">
            <div class="timeline-box clearfix">
              <span class="timeline-icon"></span>
              <div class="event-date float-left text-center mr-4">
                <div class=" avatar-sm rounded-circle bg-soft-primary">
                  <span class="font-size-16 avatar-title text-primary font-weight-semibold">
                    05
                  </span>
                </div>
                <p class="mt-2">Juin</p>
              </div>
              <div class="overflow-hidden">
                <div class="card">
                  <div class="card-body">
                    <h5 class="mt-0">Premier Evenement</h5>
                    <p class="text-muted">Leur existence distincte est un mythe. Pour la science, la musique, le sport, etc, Europe
                      utilise le même vocabulaire. Les langues ne diffèrent que par leur prononciation</p>
                    <p class="text-muted mb-0">Pour un anglais, cela ressemblera à un anglais simplifié en tant que sceptique
                      Un ami de Cambridge m'a dit ce que l'occidental</p>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </article>

      </div>
    </div>
  </div>
  <!-- end row -->
</div>
