<div class="account-pages my-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-10">
        <div class="card">
          <div class="card-body p-0">
            <div class="row">
              <div class="col-6 p-5">
                <div class="mx-auto mb-5">
                  <a routerLink="/account/login">
                    <img src="assets/images/logo.png" alt="" height="34" />
                    <h3 class="d-inline align-middle ml-1 text-logo">Hoomy</h3>
                  </a>
                </div>

                <h6 class="h5 mb-0 mt-4">Réinitialiser le mot de passe</h6>
                <p class="text-muted mt-1 mb-5">
                  Entrez votre adresse e-mail et nous vous enverrons un e-mail avec des instructions pour réinitialiser votre mot de passe.
                </p>

                <form action="#" class="authentication-form" name="resetForm" [formGroup]="resetForm"
                  (ngSubmit)="onSubmit()" novalidate>

                  <!-- <app-ui-preloader [display]="loading"></app-ui-preloader> -->

                  <ngb-alert type="danger" *ngIf="error" [dismissible]="false">{{ error }}</ngb-alert>
                  <ngb-alert type="success" *ngIf="success" [dismissible]="false">{{ success }}</ngb-alert>

                  <div class="form-group" *ngIf="!success">
                    <label class="form-control-label">Adresse E-mail</label>
                    <div class="input-group input-group-merge">
                      <div class="input-group-prepend">
                        <span class="input-group-text">
                          <i class="icon-dual" data-feather="mail" appFeatherIcon></i>
                        </span>
                      </div>
                      <input type="email" class="form-control" formControlName="email"
                        [ngClass]="{ 'is-invalid': submitted && f.email.errors }" id="email"
                        placeholder="amal@centrale.com" />
                      <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                        <div *ngIf="f.email.errors.required">Email est requis</div>
                        <div *ngIf="f.email.errors.email">L'E-mail doit être une adresse E-mail valide</div>
                      </div>
                    </div>
                  </div>

                  <div class="form-group mb-0 text-center" *ngIf="!success">
                    <button class="btn btn-primary btn-block" type="submit"> Soumettre</button>
                  </div>
                </form>
              </div>
              <div class="col-lg-6 d-none d-md-inline-block">
                <div class="auth-page-sidebar">
                  <div class="overlay"></div>
                  <div class="auth-user-testimonial">
                    <p class="font-size-24 font-weight-bold text-white mb-1">It's simply Magic!</p>
                    <p class="lead">"Don't Be Yestrday. Be Tomorrow !"
                    </p>
                    <p>- Admin Panel</p>
                  </div>
                </div>
              </div>
            </div>

          </div> <!-- end card-body -->
        </div>
        <!-- end card -->

        <div class="row mt-3">
          <div class="col-12 text-center">
            <p class="text-muted">Retour à <a routerLink="/account/login"
                class="text-primary font-weight-bold ml-1">Login</a></p>
          </div> <!-- end col -->
        </div>
        <!-- end row -->

      </div> <!-- end col -->
    </div>
    <!-- end row -->
  </div>
  <!-- end container -->
</div>
<!-- end page -->
